/* * {
	box-sizing: border-box;
} */


.App {
	text-align: center;
	
}

.App-header {
	/* background-color: #282c34; */
	/* min-height: 100vh; */
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;

	/* font-size: calc(10px + 2vmin); */
	/* color: white; */
}

.nav {
	position: relative;
}

.contact {
	position: absolute;
	margin-top: 0;
	text-align: left;
	color: white;
}

contact .sub-title {
	font-size: 1.2rem;
}

.sub-title {
	font-weight: 300;
	line-height: 2.5rem;
}

.page-title {
	line-height: 1.5rem;
	padding: 0;
}

.project-texts {
	position: absolute;
	align-items: center;
	font-weight: 700;
	/* visibility: hidden; */
	opacity: 0;
	z-index: 1000;
}

.project-title {
	font-size: 2rem;
	text-align: center;
	z-index: 1000;
	/* cursor: pointer; */
	color: orangered;
	padding-left: 1rem;
	padding-right: 1rem;
}

.project-sub-title {
	font-size: 1.3rem;
	text-align: center;
	z-index: 1000;
	/* cursor: pointer; */
	color: orangered;
}

h1,
h2,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

.project-title:hover,
.project-texts:hover {
	visibility: visible;
	opacity: 1;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding-top: 1rem;
	padding-bottom: 4rem;
	/* padding-left: 2rem;
	padding-right: 2rem; */
}

.project-box {
	width: 50vw;
	
	flex-grow: 1;
	/* height: 30vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* margin: 1rem; */
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	color: orangered;
}

.project-image {
	/* background-size: cover; */

	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	/* height: 100%; */
	/* max-width: 50vw; */
}

footer {
	margin: 1rem;
}

@media screen and (max-width: 1000px) {
	.project-box {
		width: 100vw;
	}

	.page-title,
	.sub-title {
		text-align: right;
	}
}
@media screen and (max-width: 500px) {
	.page-title,
	.sub-title {
		font-size: 1rem;
		line-height: 1.3rem;
		text-align: left;
	}

	.page-title {
		font-size: 1rem;
	}
	.contact {
		position: absolute;

		margin-top: 40px;
		text-align: left;
	}
	.projects-container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.project-texts {
		opacity: 0.8;
	}
	.project-title {
		font-size: 1.2rem;
	}
	.project-sub-title {
		font-size: 1.2rem;
	}
	.App-header {
		padding: 1.3rem;
	}
}
