@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
	margin: 0 auto;
	padding: 0px;
}

body {
	background-color: blanchedalmond;
	color: white;
	font-family: "Inknut Antiqua", serif;
	margin-top: 0px;
}

footer {
	/* background: yellow; */
	color: #bbb;
	/* padding: 10px; */
	text-align: center;
	margin-top: auto;
	font-size: 0.6em;

	width: 100%;
	position: absolute;
	bottom: 1rem;
	margin: 0;
}

.App {
	text-align: center;
}

.landing-page,
.about-page {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	/* border: 3px blue solid;
	background-color: blue; */
}

.landing-square {
	width: 80vw;
	height: 80vh;

	position: absolute;
	/* background-color: rgb(225, 206, 206); */
	border: 15px black solid;
	border: 15px pink solid;
	mix-blend-mode: difference;
}
.landing-square-about {
	width: 80vw;
	height: 80vh;

	position: absolute;
	/* background-color: rgb(225, 206, 206); */
	border: 15px pink solid;
	mix-blend-mode: difference;
}
.landing-square-work {
	width: 80vw;
	height: 80vh;
	position: absolute;
	/* background-color: #e1cece; */
	/* background-color: #f4e8e8; */
	border: 15px pink solid;
	text-align: left;

	mix-blend-mode: difference;
}

.cv-title {
	padding: 2rem;
	padding-bottom: 0;
	color: white;
}

.cv-text {
	color: white;
	font-family: "poppins", sans-serif;
	padding: 2rem;
	text-align: left;
	width: 50%;
}

.cv-container {
	display: flex;
}

.aframe-scene {
	width: 100%;
	height: 100%;
	filter: blur(30px);
}

.landing-header {
	height: 100%;
	width: 100%;
	position: absolute;
	/* border: 1px red solid; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	color: white;
	z-index: 1000;
	mix-blend-mode: difference;
	mix-blend-mode: overlay;
	display: flex;
	font-size: 8rem;
	line-height: 7rem;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	animation: 2s ease-out 0s 1 fadeIn;
	/* pointer-events: none; */
	/* border: 3px blue solid; */
}

.title:hover {
	color: black;
	animation: 1s ease-out 0s 1 fadeIn;
}

.landing-sub-title {
	color: black;
	font-family: sans-serif;
	text-transform: uppercase;
	position: absolute;
	mix-blend-mode: normal;
	padding-top: 1.5rem;
	z-index: 10000;
	/* cursor: pointer; */
}

/* .landing-sub-title:hover {
	transform: scale(1.1);
} */

.landing-picture {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	animation: 1s ease-out 0s 1 fadeIn;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.about-text {
	padding: 3rem;
	font-family: "poppins", sans-serif;
	font-size: 1.5rem;
	/* line-height: 3rem; */
	text-align: left;
}

.email-link {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.App-header {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.nav {
	position: relative;
}

.contact {
	position: absolute;
	margin-top: 0;
	text-align: left;
	color: white;
}

contact .sub-title {
	font-size: 1.2rem;
}

.sub-title {
	font-weight: 300;
	line-height: 2.5rem;
}

.page-title {
	line-height: 1.5rem;
	padding: 0;
}

.project-texts {
	position: absolute;
	align-items: center;
	font-weight: 700;
	/* visibility: hidden; */
	opacity: 0;
	z-index: 1000;
}

.project-title {
	font-size: 2rem;
	text-align: center;
	z-index: 1000;
	/* cursor: pointer; */
	color: orangered;
	padding-left: 1rem;
	padding-right: 1rem;
}

.project-sub-title {
	font-size: 1.3rem;
	text-align: center;
	z-index: 1000;
	/* cursor: pointer; */
	color: orangered;
}

h1,
h2,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

.project-title:hover,
.project-texts:hover {
	visibility: visible;
	opacity: 1;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding-top: 1rem;
	padding-bottom: 4rem;
	/* padding-left: 2rem;
	padding-right: 2rem; */
}

.project-box {
	width: 50vw;

	flex-grow: 1;
	/* height: 30vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* margin: 1rem; */
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	color: orangered;
}

.project-image {
	/* background-size: cover; */

	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	/* height: 100%; */
	/* max-width: 50vw; */
}

/* footer {
	margin: 1rem;
} */

@media screen and (max-width: 1000px) {
	.title {
		font-size: 6rem;
		line-height: 6rem;
	}

	.about-text {
		font-size: 1rem;
	}

	.landing-square,
	.landing-square-about,
	.landing-square-work {
		height: 85vh;
		width: 85vw;
	}
}
@media screen and (max-width: 550px) {
	.title {
		font-size: 5rem;
		line-height: 5rem;
	}
	.landing-sub-title {
		font-size: 1rem;
		line-height: 5rem;
	}

	.about-text {
		font-size: 0.8rem;
		padding: 2rem;
	}

	.cv-text {
		font-size: 0.5rem;
		/* width: 100%; */
	}

	.cv-container {
		display: flex;
	}

	.landing-square,
	.landing-square-about,
	.landing-square-work {
		height: 90vh;
	}

	footer {
		/* background: yellow; */
		color: #bbb;
		margin: 0;
		font-size: 0.5em;
		bottom: 2rem;
	}
}
@media screen and (max-width: 450px) {
	.title {
		font-size: 4rem;
		line-height: 4rem;
	}
}
@media screen and (max-width: 400px) {
	.title {
		font-size: 3rem;
		line-height: 3rem;
	}
}
